<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
    <div class="faq-section">
        <h3>Frequently Asked Questions</h3>
        <br/>
            <p>1. What is your fintech app about?</p>
            <p>Ans: Our fintech app helps users manage their incomes and expenses effectively.</p>
            <p>2. How can I add a new income or expense?</p>
            <p>Ans: You can navigate to the Sign Up section, register yourself, then it redirects you to the login section. Enter your login credentials, that will</p>
            <p>address you to finances page, where you can see an Add Income form and Add Expense form, use the respective forms to add new entries.</p>
            <p>3. Can I set budgets for different categories?</p>
            <p>Ans: Yes, you can set budgets for various categories in the Budgeting section.</p>
            <button class="back-button" (click)="back()">Back</button>
    </div>
</body>
<br/>
</html>

