<div class="help-support">
    <h3>Help & Support</h3>
    <br/>
    <p>If you need assistance or have any questions, please don't hesitate to reach out to us.</p>
    <p>You can contact us via:</p>
    <p><strong>Email: </strong>support@yourfintechapp.com</p>
    <p><strong>Phone: </strong>1-800-FIN-TECH</p>
    <p><strong>Live Chat: </strong>Available during business hours.</p>
    <p>We also have a comprehensive <a routerLink="/faq-section">FAQ section</a> that may address your queries.</p>
</div>
